*{
    margin: 0px;
    padding: 0px;
}
body{
    cursor: none;
   background: linear-gradient(to top, rgba(69,53,53,0.5)50%, rgba(69,53,53,0.5)50%), url("imgs/Livre\ automne.jpg") fixed center/cover;
}
.mouse{
    position: absolute;
    border-radius: 1500px;
    transform: translate(-50%, -50%);
    
}
#cursor{
    background: #edc592;
    width: 20px;
    height: 20px;
}
#mouse1{
    height: 100px;
    width: 100px;
    background: #f89d27;
    transition: 0.10s ease-out;
}
#mouse2{
    height: 150px;
    width: 150px;
    background: rgba(78, 44, 44, 0.789);
    
    transition: 0.25s ease-out;
}
.main{
    width: 100%;
   
    height: 109vh;
}
.navb{
    width: 1200px;
    height: 75px;
    margin: auto;
}
footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid #aaa;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.navb, .logo{
    color: rgb(254, 250, 253);
    font-size: 25px;
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    
    background-position: 210px;
    background-repeat: no-repeat;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
    
}

.menu{
    width: 50%;
    margin: auto;
    position: absolute;
}
.menu > ul{
    position: relative;
    left: 400px;
    margin: 0px;
    padding: 10px;
}
.menu > ul::after{
    content: "";
    display: block;
    clear: both;
}
.menu > ul > li{
    float: left;
    position: relative;
}
.menu > ul > li > a{
    padding: 20px 20px;
    color: #fff;
}
.menu > ul > li:hover a{
    padding: 10px 25px 20px 20px;
}
.menu li{
    list-style-type: none;
}
.submenu{
    display: none;
}
.menu a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 15px;

}
.menu li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li{
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 10px;
    height: 25px;
    
}
.submenu li a{
    padding: 15px 30px;
    font-size: 11px;
    color: #222538;
    width: 170px;
    
}
.menu-acceuil:hover{
    border-top: 5px solid #2c2424;
    background-color: rgba(220, 20, 60, 0.15);
}
.menu-uni:hover{
    border-top: 5px solid #2c2424;
    background-color: rgba(220, 20, 60, 0.15);
}  
.menu-liv:hover{
    border-top: 5px solid #2c2424;
    background-color: rgba(220, 20, 60, 0.15);
}
.menu-con:hover{
    border-top: 5px solid #2c2424;
    background-color: rgba(220, 20, 60, 0.15);
}
.menu-avis:hover{
    border-top: 5px solid #2c2424;
    background-color: rgba(220,20,60,0.15);
}
.menu-uni .submenu{
    background-color: rgb(212, 119, 166);
}
.menu-liv .submenu{
    background-color:rgb(212, 119, 166);
}
.submenu li:hover a{
    color: #eee;
    font-weight: bold;
}
.menu-uni .submenu li:hover{
    background-color: rgb(154, 0, 77);
}
.menu-liv .submenu li:hover{
    background-color: rgb(154, 0, 77);
}
.search{
    position: relative;
    width: 330px;
    float: left;
    bottom: 90px;
    padding: 10px;
    margin-left: 1140px;
    color: #fff;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #edc592;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff9e1e;
    border: #ff9e1e;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.bvn{
    float: left;
    padding-left: 50px;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cnt{
    width: 160px;
    height: 40px;
    background: #ff9e1e;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.content .cnt a{
    text-decoration: none;
    color: #000000;
    transition: .3s ease;
}
.cnt:hover{
    background-color: #fff;
}
.content span{
    color: #ff9e1e;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 510px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -70px;
    left: 700px;
    border-radius: 10px;
    padding: 20px;
}
.form h2{
    width: 220px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #ff9e1e;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff9e1e;
    border-top: none;
    border-right: none;
    color: #fff;
    font: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff9e1e;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff9e1e;
}
.btnn a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.form .comp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .comp a{
    text-decoration: none;
    color: #ff9e1e;
}
.res{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
.icons ion-icon{
    color: #fff;
    padding-left: 18px;
    padding-top: 10px;
    transition: 0.3s ease;
}
.gotopbtn{
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color:#fff;
    bottom: 50px;
    border-radius: 50%;
    
    text-decoration: none;
    text-align: center;
    line-height: 50px ;
    color: #ff9e1e;
    font-size: 40px;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px ;
    }
}
